<!DOCTYPE html>
<html lang="en">

<%- include partials/header.ejs %>

<body>
    <%- include partials/navigation.ejs %>
    <section id="boxers">
        <% boxers.forEach((boxer, i) => { %>
           <div>
               <img data-modal-open="modal" onclick="updateModal(<%= i %>)" class="boxerImg" src=<%= boxer.imageSrc %>>
               <p><%= boxer.name %></p>
                <div class="icons">
                    <a href="https://www.facebook.com">
                        <img class="icon" src="/static/assets/fb.ico">
                    </a>
                    <a href="https://www.instagram.com">
                        <img class="icon" src="/static/assets/instagram.jpeg">
                    </a>
                    <a href="https://www.twitter.com">
                        <img class="icon" src="/static/assets/twitter.png">
                    </a>
                </div>
           </div>
        <% }) %>
    </section>

    <div class="modal-slide" id="modal" aria-hidden="true">
        <div id="modal-overlay" tabindex="-1" data-modal-close>
            <div id="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title">
                <img id="modal-image"></img>
                <section id="modal-content">
                    <h2 id="modal-title">
                        Boxer name here, ey?
                    </h2>
                    Thi boxer is good because of reason.
                    <br> check out online stuff
                    <br> facebook
                    <br> instan
                </section>
            </div>
        </div>
    </div>

</body>

<script>
    MicroModal.init({
        openTrigger: 'data-modal-open',
        closeTrigger: 'data-modal-close',
        disableScroll: true,
        disableFocus: true,
        awaitCloseAnimation: true,
        debugMode: true
    });

    function updateModal(boxerIndex) {
      const boxers = <%- JSON.stringify(boxers) %>;
      const boxer = boxers[boxerIndex];

      $('#modal-title').text(boxer.name);
      $('#modal-image').attr('src', boxer.imageSrc);
    }
</script>

</html>